<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% for p in data.products %}
  <div class="card">
    <div class="card-body">
      <h1>{{ p.nombre }}</h1>
      <img src="{{ url_for('static', filename='IMG/' + p.imagen) }}" alt="{{ p.nombre }}">
      <p>{{ p.descripcion }}</p>
    </div>
  </div>
  {% endfor %}
</body>
</html>
